<h3>{{this.title}}</h3>
<p>Genre: {{this.genre}}</p>
<p>Plot: {{this.plot}}</p>
<ul>
  {{#if this.cast}}
    {{#each this.cast}}
      <li>{{this.name}}</li>
      <li>{{this.catchPhrase}}</li>
      <li>{{this.occupation}}</li>
    {{/each}}
  {{/if}}
</ul>
<form action="/movies/delete/{{this._id}}" method="POST">
<button type="submit">Delete Movie</button>
</form>